<div class="card margin-t-20">
	<div class="card-body">
		<h4 class="card-title">Graduation</h4>
		<div class="card-text">
			<table class="table table-responsive table-stripped">
				<thead>
					<th>Year</th>
					<th>Degree</th>
					<th>Cgpa/Marks</th>
					<th>University/Board</th>
					<th></th>
					<th></th>
				</thead>
				<tbody>
					<tr>
						<td>2014-2016</td>
						<td>Mcs</td>
						<td>3.39</td>
						<td>COMSATS</td>
						<td><button class="btn btn-primary">edit</button></td>
						<td><button class="btn btn-danger">delete</button></td>
					</tr>
					<tr>
						<td>2012-2014</td>
						<td>BSC</td>
						<td>453</td>
						<td>Uni of Punjab</td>
						<td><button class="btn btn-primary">edit</button></td>
						<td><button class="btn btn-danger">delete</button></td>
					</tr>
					<tr>
						<td>2010-2012</td>
						<td>FCS</td>
						<td>694</td>
						<td>FBISE</td>
						<td><button class="btn btn-primary">edit</button></td>
						<td><button class="btn btn-danger">delete</button></td>
					</tr>
					<tr>
						<td>2008-2010</td>
						<td>SSC</td>
						<td>735</td>
						<td>FBISE</td>
						<td><button class="btn btn-primary">edit</button></td>
						<td><button class="btn btn-danger">delete</button></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<div class="row padding-t-20">
	<div class="col-md-2 col-offset-md-8 float-right">
		<button class="btn btn-info">Add new education</button>
	</div>
</div>