<div class="row">
	<div class="col-md-12"> 
		<p class="form-control">Shaheer Khan</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">Abdul Jabbar Khan</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">shaheerkhan12605@gmail.com</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">03075507078</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">House no 8,street 17 malik-a-bad nawababad Wah catt</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">Pakistan</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">Mean Stack Developer at Emumba</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">Laravel Developer at BrokerGenius</p>
	</div>
	<div class="col-md-12"> 
		<p class="form-control">Lecturer at Base College</p>
	</div>
</div>
